.head {
  padding: 200px 0 200px;
  background-color: #5cdb95;
  color: #FFF;
}

section {
  padding: 200px 0;
}


.custon-btn{
  background-color: #00887A;
  color: white;
}

.a1 {
  color: white;
}
