// // Place all the styles related to the Meetings controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
// // body {
// //   background-color:#D2D2D2;
// // }
//
h1 {
  color:#737373;
  font-weight: 'bold';
  font-size: 30px;
}

h2 {
  color:#737373;
  font-size: 25px !important;
}

h3 {
  padding-left: 20px;
  color:#737373;
  font-size: 18px !important;
}

h4 {
  color:#737373;
  font-size: 18px !important;
}

p {
  color:#737373;
  font-size: 15px !important;
}

li {
  color:#737373;
  font-size: 15px !important;
}
