// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, p {
  margin: 20px 50px;
}

table {
  margin:5px 60px;
}

.text-style {
  margin:5px 60px;
}

.li-style {
  margin-left: 40px;
  line-height: 14px;
}

.a-style {
  margin-left: 50px;
}
