<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="description" content="">
    <meta name="author" content=""> -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body id="page-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <a class="navbar-brand js-scroll-trigger" href="/" style="color:#202331">Smart Meeting</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <% if logged_in? %>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/meetings">Meetings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/users/<%= current_user.id %>"><%= current_user.first %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/logout">Log out</a>
                </li>
              <% else %>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/login"">Login</a>
                </li>
              <% end %>
            </ul>
          </div>
      </nav>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
