<!DOCTYPE html>
<html>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smart Meeting</title>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
   <%= render "layouts/index" %>
   <header class="head">
      <div class="container text-center">
        <p id="notice"><%= notice %></p>
        <h1 class="title">Welcome to Smart Meetings</h1>
        <h2 class="subtitle" style="padding-bottom:20px;">A tool to get the most out of meetings</h2>
        <%= link_to 'Get Started', new_user_path, class:"btn btn-default btn-md" %>

    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <h2 style="font-size:40px !important;">About Our Product</h2>
            <h3 class="lead" style="font-size:35px !important;">Smart Meeting currently features:</h3>
            <ul>
              <li class="home">A raw transcription with speaker labels by using voice recognition.</li>
              <li class="home">The summary of the meeting, taking important information from your meeting.</li>
              <li class="home">A list of action items along with assignees and due dates exported to Trello.</li>
              <li class="home">A list of questions asked during the meeting.</li>
              <li class="home">Personalized individual user's and meeting's suggestions</li>
          </div>
        </div>
      </div>
    </section>

    <footer class="py-4 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white" style="font-size:25px !important;">2019-2020 CS Capstone</p>
      </div>
    </footer>
    <!-- <script src="../../javascript/components/scrolling-nav.js"></script> -->
  </body>
</html>
