<% if logged_in? %>
  <body class="body text-center">
    <h1 style="color:white; padding:200px 0 0 0;">Welcome</h1>
    <h2 style="color:white;">You are Logged In, <%= current_user.first %></h2>
  </body>
<% else %>
  <p id="notice"><%= notice %></p>
  <body class="body">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card shadow my-5">
            <div class="card-body text-center">
              <h1 class="card-title" style="font-size:30px; font-weight:bold;">Welcome</h1>
                  <%= button_to "Login", '/login', method: :get, :class=> "btn btn-outline-secondary"%>
                  <%= button_to "Sign Up", '/users/new', method: :get, :class=> "btn btn-outline-secondary mt-3"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
<%end%>
