<h2>Hi <%= @first_name %>,</h2>
<h2>
Check out your meeting analytics <%= link_to 'here', meeting_url(@meeting_id) %>.
 <br />
  The action items from your meeting are exported to the corresponding trello board.
</h2>
<h2>- Smart Meetings Team<h2>
