<h2>Hi,</h2>
<p>
Check out your meeting Analytics here: <a href="localhost:3000/meetings/<%=@meeting_id%>"></a>
 <br />
  The action items from your meeting are exported to the corresponding trello board.
</p>
