<%= form_with(model: meeting, local: true) do |form| %>

  <div class="row py-2 ml-5">
    <%= form.file_field :my_file, multiple: true, :required => true, :class => "btn" %>
  </div>

  <div class="text-center mb-3 mt-3">
    <tr>
      <td"><%= link_to 'Back', meetings_path, class:"btn btn-outline-secondary" %></td>
      <td"> <%= form.submit "Upload Files", class:'btn btn-outline-secondary'%></td>
    </tr>
  </div>

<% end %>
