<h1>Editing Meeting</h1>

<%= render 'edit_form', meeting: @meeting %>

<%= link_to 'Show', @meeting, {:style=>'margin:5px 60px;', :class => "css_class"}%> |
<%= link_to 'Back', meetings_path, {:style=>'margin:5px 60px;', :class => "css_class"} %>
