<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
<div class="container">
  <div class="row justify-content-center">
    <!-- <div class="col-sm-9 col-md-7 col-lg-5 mx-auto"> -->
      <div class="card shadow my-5" style="width:22em">
        <div class="card-body">
          <h1 class="card-title text-center" style="font-size:30px; font-weight:bold;">New Meeting</h1>
          <%= render 'form', meeting: @meeting %>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
