<body class="body">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card shadow my-5">
          <div class="card-body">
            <h1 class="card-title text-center" style="font-size:30px; font-weight:bold;">Create an Account</h1>
              <%= render 'form', user: @user %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
